* {
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.card-fill-height{
    height: max-content;
}
.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    border-color: green;
    justify-content: space-between;
    align-items: center;
}

